.filter_container {
  margin-bottom: 20px;
  position: fixed;
  background-color: #eafaff;
  padding: 25px 20px;
  width: 100%;
  left: 0;
  top: 55px;
}
.filter_box {
  display: flex !important;
  width: 100%;
  background-color: #f1f1f1;
  justify-content: space-between;
  background-color: #eafaff;
}

.filter {
  width: 110px;
}

.searchbox {
  width: 160px;
}

@media (max-width: 600px) {
  .filter_box {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
