.filter_container {
  margin-bottom: 20px;
  position: fixed;
  background-color: #f1f1f1;
  padding: 16px 20px;
  width: 100%;
  left: 0;
  top: 56px;
}
.filter_box {
  padding: 0px;
  display: flex;
  width: 100%;
  background-color: #f1f1f1;
  justify-content: space-between;
}

.filter {
  width: 100px;
}

.searchbox {
  width: 180px;
}
