.home_page {
  position: relative;
}
/* .color_path {
  position: absolute;
  overflow: hidden;
  overflow-wrap: normal;
  top: -70px;
  left: -20px;
  z-index: -1;
  background-color: #80dbd8;
  height: 30%;
  width: 200px;
  clip-path: ellipse(60% 70% at 35% 0%);
} */

.svg_container {
  padding: inherit;
  position: absolute;
  top: -20px;
  z-index: -1;
}

.home_brand {
  margin-bottom: 10px;
  font-size: 3.2rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: #064960;
}
.home_subtitle {
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #606c6f;
}

.tiles_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  flex-wrap: wrap;
}

/* @media only screen and (min-width: 600px) {
  .color_path {
    width: 500px;
    clip-path: ellipse(30% 70% at 35% 0%);
  }
} */
