.home_page {
  position: relative;
}

.svg_container {
  position: absolute;
  top: -50px;
  left: -20px;
  z-index: -1;
}

.home_brand {
  margin-bottom: 10px;
  font-size: 3.2rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: #064960;
}
.home_subtitle {
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #606c6f;
}

.tiles_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  flex-wrap: wrap;
}

@media only screen and (max-width: 599px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .color_path {
    width: 300px;
  }
}

@media only screen and (min-width: 600px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
  .color_path {
    width: 500px;
  }
}
