.camera_frame {
  position: relative;
  display: flex;
  justify-content: center;
}

.camera_frame video {
  border-radius: 18px;
}
.camera_frame .video_placeholder {
  border-radius: 18px;
  width: 260px;
  height: 195px;
  background-color: rgb(190, 190, 190);
  display: flex;
  justify-content: center;
  align-items: center;
}
.camera_icon {
  color: #fff;
  width: 120px !important;
  height: 120px !important;
}

.barcode_target {
  position: absolute;
  top: 0;
  border-radius: 18px;
  z-index: 100;
  width: 260px;
  height: 195px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.barcode_input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.buttons_flex {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}
.text {
  margin-bottom: 20px;
}
