.intro_animation_container {
  background: #064960;
  z-index: 1101;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(-100%);
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: intro;
  animation-duration: 3s;
  overflow: hidden;
}
.intro_animation_container h1 {
  font-weight: bold;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
}

@keyframes intro {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
