.container {
  background-color: #fff;
  width: 320px;
  padding: 10px;
  border-radius: 18px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  outline: none;
}
.container hr {
  width: 100%;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.close_icon_wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.list {
  font-size: 15px;
  padding: 5px 5px;
}
.list_title {
  font-weight: bold;
}
.list_expiry {
  font-style: italic;
}
