.product_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 18px;
  padding: 8px 16px;
  background-color: #fff;
  color: #064960;
  text-align: left;
  box-shadow: 0px 6px 5px -5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 6px 5px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 6px 5px -5px rgba(0, 0, 0, 0.5);
}

.product_title {
  text-transform: capitalize;
  font-weight: bold;
  color: #010f13;
}

.product_expires {
  font-style: italic;
}
